dataclasses
ensure
fastapi[standard]
google-genai
inngest
ipykernel
ipywidgets
langchain-core
langchain-openai
langchain
llama-index-core
llama-index-readers-file
python-box
python-dotenv
qdrant-client
starlette
fastapi-cors
guardrails-ai
langgraph